body{
    width: auto;
    margin: 0px ;
    background: lightskyblue;
}
.encabezado{
    padding: 2% 0 0 10%;
}
.logo{
    width: 150px;
    height: 50px;
}

main{
    width: 100%;
    margin: 0%;
    padding: 2.5%;
}
.textEncriptador{
    display: inline-block;
    width: 70%;
    height: auto;
    vertical-align: top;
    background: lightskyblue;
    padding: 0 10px;
    text-align: center;

}

.textDesencriptar{
    display: inline-block;
    width: 20%;
    height: 730px;
    border: 0px solid ;
    border-radius: 30PX;
    vertical-align: top;
    background: aliceblue;
    padding: 10px;
    text-align: center;
    box-shadow: 10px 10px 15px black;

}
.textEncriptador textarea,.textDesencriptar textarea{
    width: 90%;
    margin: 10px auto;
    border-radius: 30px;
    border-width: 0px;
    background: aliceblue;
    font-size: 4em;
    color: rgb(34, 34, 136);
    
   

}
.textEncriptador textarea{
    background: lightskyblue;
}
.textEncriptador textarea::placeholder{
    color: aliceblue;
}
.textDesencriptar textarea:focus, .textEncriptador textarea{
 outline: none;
 height: 75%;
}

.sinTexto{
    height: 75%;
}
.sinTexto p{
    margin: 20% 0 ;
    font-size: 2em;
    text-align: center;
}
.sinTexto p:last-child{
    font-size: 1em;
   
}  


.textEncriptador p{
    text-align:left;

}
.botones{
    width: 35%;
    margin: 20px 15px;
    height: 75px;
    border-radius: 30px;
    border: 0px solid;
    font-size: 30px;
    transition: 500ms;
    
}
.botones:hover {
    scale: 1.1;
    border: 2px solid;
    box-shadow: 4px 4px ;
}
.botones:active{
    border: 0px;
    background: hwb(202 7% 48%);

}
.ocultar{
    display: none;
}
.agrandar{
    height: 75%;
}